In [1]:
import pandas as pd
import numpy as np

### 1、数据加载
pd.read_excel('./18级高一体测成绩汇总.xls')默认加载第一个工作表

In [2]:
data_mens = pd.read_excel('./18级高一体测成绩汇总.xls')
data_mens

     班级 性别 男1000米跑  男50米跑    男跳远  男体前屈  男引体  男肺活量     身高    体重  BMI
0     1  男    4'13   8.88  195.0    12    1  2785  170.0  72.6    0
1     1  男    4'16   7.70  225.0    11    7  3133  174.0  52.7    0
2     1  男    4'09   8.45  218.0    14    1  3901  169.0  46.5    0
3     1  男    4'21   8.05  206.0    13    1  4946  183.0  79.7    0
4     1  男    3'44   7.52  210.0    13    9  3538  171.0  54.7    0
..   .. ..     ...    ...    ...   ...  ...   ...    ...   ...  ...
472  17  男    4'23   8.27  208.0    10    0  4647  176.0  69.5    0
473  17  男    5'19   9.55  210.0    15    6  7042  177.0  76.0    0
474  17  男    3'25   7.50  252.0    13   13  5755  181.0  65.0    0
475  17  男    4'39   7.81  208.0    14   11  5688  172.0  51.7    0
476  17  男       0   0.00    0.0     0    0     0    0.0   0.0    0

[477 rows x 11 columns]

In [3]:
data_mens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   班级       477 non-null    int64
 1   性别       477 non-null    object
 2   男1000米跑  477 non-null    object
 3   男50米跑    477 non-null    float64
 4   男跳远      477 non-null    float64
 5   男体前屈     477 non-null    int64
 6   男引体      477 non-null    int64
 7   男肺活量     477 non-null    int64
 8   身高       477 non-null    float64
 9   体重       477 non-null    float64
 10  BMI      477 non-null    int64
dtypes: float64(4), int64(5), object(2)
memory usage: 41.1+ KB

### 2、数据加载
pd.read_excel('./18级高一体测成绩汇总.xls',sheet_name = 1)指定加载第二个工作表

In [4]:
data_womens = pd.read_excel('./18级高一体测成绩汇总.xls',sheet_name = 1)
data_womens

     班级 性别  女800米跑  女50米跑    女跳远  女体前屈  女仰卧  女肺活量     身高    体重  BMI
0     1  女    3.22   9.32  185.0    16   48  3775  163.0  51.3    0
1     1  女    4.59  11.44  148.0     9   29  3683  163.0  66.6    0
2     1  女    3.46  13.40  150.0     7   40  3331  157.0  60.0    0
3     1  女    3.39   9.52  172.0    21   46  3701  160.0  50.7    0
4     1  女    3.43   9.79  145.0     8   34  3592  167.0  63.9    0
..   .. ..     ...    ...    ...   ...  ...   ...    ...   ...  ...
588  17  女    3.51   9.60  150.0    24   41  2255  158.0  49.0    0
589  17  女    4.00  10.18  150.0    13   36  2937  161.0  55.7    0
590  17  女    3.45  10.18  152.0    15   35  2592  165.0  48.6    0
591  17  女    4.01   9.67  165.0    10   41  1829  154.0  43.6    0
592  17  女    4.48   9.09  180.0    10   46  2962  162.0  55.3    0

[593 rows x 11 columns]

### 3、评分标准加载
pd.read_excel('./体侧成绩评分表.xls',header = [0,1])，header=[0,1]表示多层列索引

In [5]:
criteria = pd.read_excel('./体侧成绩评分表.xls',header = [0,1])
criteria

    男肺活量       女肺活量      男50米跑      女50米跑       男体前屈       ...  女跳远       \
      成绩   分数    成绩   分数    成绩   分数    成绩   分数    成绩   分数  ...   成绩   分数
0   4540  100  3150  100   7.1  100   7.8  100  23.6  100  ...  204  100
1   4420   95  3100   95   7.2   95   7.9   95  21.5   95  ...  198   95
2   4300   90  3050   90   7.3   90   8.0   90  19.4   90  ...  192   90
3   4050   85  2900   85   7.4   85   8.3   85  17.2   85  ...  185   85
4   3800   80  2750   80   7.5   80   8.6   80  15.0   80  ...  178   80
5   3680   78  2650   78   7.7   78   8.8   78  13.6   78  ...  175   78
6   3560   76  2550   76   7.9   76   9.0   76  12.2   76  ...  172   76
7   3440   74  2450   74   8.1   74   9.2   74  10.8   74  ...  169   74
8   3320   72  2350   72   8.3   72   9.4   72   9.4   72  ...  166   72
9   3200   70  2250   70   8.5   70   9.6   70   8.0   70  ...  163   70
10  3080   68  2150   68   8.7   68   9.8   68   6.6   68  ...  160   68
11  2960   66  2050   66   8.9   66  10.0   66   5.2   66  ...  157   66
12  2840   64  1950   64   9.1   64  10.2   64   3.8   64  ...  154   64
13  2720   62  1850   62   9.3   62  10.4   62   2.4   62  ...  151   62
14  2600   60  1750   60   9.5   60  10.6   60   1.0   60  ...  148   60
15  2470   50  1710   50   9.7   50  10.8   50   0.0   50  ...  143   50
16  2340   40  1670   40   9.9   40  11.0   40  -1.0   40  ...  138   40
17  2210   30  1630   30  10.1   30  11.2   30  -2.0   30  ...  133   30
18  2080   20  1590   20  10.3   20  11.4   20  -3.0   20  ...  128   20
19  1950   10  1550   10  10.5   10  11.6   10  -4.0   10  ...  123   10

     男引体      女仰卧      男1000米跑      女800米跑
      成绩   分数  成绩   分数      成绩   分数     成绩   分数
0   16.0  100  53  100   3'30"  100  3'24"  100
1   15.0   95  51   95   3'35"   95  3'30"   95
2   14.0   90  49   90   3'40"   90  3'36"   90
3   13.0   85  46   85   3'47"   85  3'43"   85
4   12.0   80  43   80   3'55"   80  3'50"   80
5    NaN   78  41   78   4'00"   78  3'55"   78
6   11.0   76  39   76   4'05"   76  4'00"   76
7    NaN   74  37   74   4'10"   74  4'05"   74
8   10.0   72  35   72   4'15"   72  4'10"   72
9    NaN   70  33   70   4'20"   70  4'15"   70
10   9.0   68  31   68   4'25"   68  4'20"   68
11   NaN   66  29   66   4'30"   66  4'25"   66
12   8.0   64  27   64   4'35"   64  4'30"   64
13   NaN   62  25   62   4'40"   62  4'35"   62
14   7.0   60  23   60   4'45"   60  4'40"   60
15   6.0   50  21   50   5'05"   50  4'50"   50
16   5.0   40  19   40   5'25"   40  5'00"   40
17   4.0   30  17   30   5'45"   30  5'10"   30
18   3.0   20  15   20   6'05"   20  5'20"   20
19   2.0   10  13   10   6'25"   10  5'30"   10

[20 rows x 24 columns]

In [6]:
criteria.columns

MultiIndex([(   '男肺活量', '成绩'),
            (   '男肺活量', '分数'),
            (   '女肺活量', '成绩'),
            (   '女肺活量', '分数'),
            (  '男50米跑', '成绩'),
            (  '男50米跑', '分数'),
            (  '女50米跑', '成绩'),
            (  '女50米跑', '分数'),
            (   '男体前屈', '成绩'),
            (   '男体前屈', '分数'),
            (   '女体前屈', '成绩'),
            (   '女体前屈', '分数'),
            (    '男跳远', '成绩'),
            (    '男跳远', '分数'),
            (    '女跳远', '成绩'),
            (    '女跳远', '分数'),
            (    '男引体', '成绩'),
            (    '男引体', '分数'),
            (    '女仰卧', '成绩'),
            (    '女仰卧', '分数'),
            ('男1000米跑', '成绩'),
            ('男1000米跑', '分数'),
            ( '女800米跑', '成绩'),
            ( '女800米跑', '分数')],
           )

### 4、数据类型转换

#### 4.1 男1000米跑，数据类型是str，并且是4’26这种形式，需要变成float类型的值

In [7]:
def convert_timing(timing_str):
    if type(timing_str) != 'str':
        timing_str = str(timing_str)
     
    if "'" in timing_str:
        m = timing_str.split("'")[0]
        s = timing_str.split("'")[1]
        m = int(m)
        s = int(s)
        s_ = round(s / 60, 2)
        res = m + s_
    else:
        res = int(timing_str)
        
    return res

In [8]:
for i in range(data_mens.shape[1]):
    convert_timing(data_mens['男1000米跑'][i])

In [9]:
data_mens['男1000米跑'] = data_mens['男1000米跑'].apply(convert_timing)
data_mens['男1000米跑']

0      4.22
1      4.27
2      4.15
3      4.35
4      3.73
       ...
472    4.38
473    5.32
474    3.42
475    4.65
476    0.00
Name: 男1000米跑, Length: 477, dtype: float64

#### 4.2 评分标准中男1000米跑和女800米跑的成绩都是4‘10’‘这种形式，需要转化为float类型值

In [10]:
def convert_timing_criteria(timing_str):
    m = int(timing_str[0])
    s = int(timing_str[2:4])
     
    s_ = round(s / 60, 2)
    res = m + s_
        
    return res

In [11]:
criteria[('女800米跑', '成绩')] = criteria[('女800米跑', '成绩')].apply(convert_timing_criteria)
criteria[('女800米跑', '成绩')]

0     3.40
1     3.50
2     3.60
3     3.72
4     3.83
5     3.92
6     4.00
7     4.08
8     4.17
9     4.25
10    4.33
11    4.42
12    4.50
13    4.58
14    4.67
15    4.83
16    5.00
17    5.17
18    5.33
19    5.50
Name: (女800米跑, 成绩), dtype: float64

In [12]:
criteria[('男1000米跑', '成绩')] = criteria[('男1000米跑', '成绩')].apply(convert_timing_criteria)
criteria[('男1000米跑', '成绩')]

0     3.50
1     3.58
2     3.67
3     3.78
4     3.92
5     4.00
6     4.08
7     4.17
8     4.25
9     4.33
10    4.42
11    4.50
12    4.58
13    4.67
14    4.75
15    5.08
16    5.42
17    5.75
18    6.08
19    6.42
Name: (男1000米跑, 成绩), dtype: float64

#### 4.3 其他所有数值类型的值，都要转换为float类型的值

In [13]:
### 男生成绩表

data_mens_col = data_mens.columns.tolist()
# data_mens_col
for col in data_mens_col[2:]:
    data_mens[col] = data_mens[col].astype('float64')
data_mens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   班级       477 non-null    int64
 1   性别       477 non-null    object
 2   男1000米跑  477 non-null    float64
 3   男50米跑    477 non-null    float64
 4   男跳远      477 non-null    float64
 5   男体前屈     477 non-null    float64
 6   男引体      477 non-null    float64
 7   男肺活量     477 non-null    float64
 8   身高       477 non-null    float64
 9   体重       477 non-null    float64
 10  BMI      477 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 41.1+ KB

In [14]:
### 女生成绩表

data_womens_col = data_womens.columns.tolist()
# data_womens_col
for col in data_womens_col[2:]:
    data_womens[col] = data_womens[col].astype('float64')
data_womens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593 entries, 0 to 592
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   班级      593 non-null    int64
 1   性别      593 non-null    object
 2   女800米跑  593 non-null    float64
 3   女50米跑   593 non-null    float64
 4   女跳远     593 non-null    float64
 5   女体前屈    593 non-null    float64
 6   女仰卧     593 non-null    float64
 7   女肺活量    593 non-null    float64
 8   身高      593 non-null    float64
 9   体重      593 non-null    float64
 10  BMI     593 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 51.1+ KB

In [15]:
### 评分标准表
for c in criteria.columns.tolist():
    criteria[c] = criteria[c].astype('float64')
criteria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (男肺活量, 成绩)     20 non-null     float64
 1   (男肺活量, 分数)     20 non-null     float64
 2   (女肺活量, 成绩)     20 non-null     float64
 3   (女肺活量, 分数)     20 non-null     float64
 4   (男50米跑, 成绩)    20 non-null     float64
 5   (男50米跑, 分数)    20 non-null     float64
 6   (女50米跑, 成绩)    20 non-null     float64
 7   (女50米跑, 分数)    20 non-null     float64
 8   (男体前屈, 成绩)     20 non-null     float64
 9   (男体前屈, 分数)     20 non-null     float64
 10  (女体前屈, 成绩)     20 non-null     float64
 11  (女体前屈, 分数)     20 non-null     float64
 12  (男跳远, 成绩)      20 non-null     float64
 13  (男跳远, 分数)      20 non-null     float64
 14  (女跳远, 成绩)      20 non-null     float64
 15  (女跳远, 分数)      20 non-null     float64
 16  (男引体, 成绩)      15 non-null     float64
 17  (男引体, 分数)      20 non-null     float64
 18  (女仰卧, 成绩)      20 non-null     float64
 19  (女仰卧, 分数)      20 non-null     float64
 20  (男1000米跑, 成绩)  20 non-null     float64
 21  (男1000米跑, 分数)  20 non-null     float64
 22  (女800米跑, 成绩)   20 non-null     float64
 23  (女800米跑, 分数)   20 non-null     float64
dtypes: float64(24)
memory usage: 3.9 KB

### 5、对体测成绩进行分数转换
跑步类（越小越好）；跳远、体前屈（越大越好）

In [16]:
## 将0转换为NaN
# data_mens = data_mens.replace(0, np.nan)
# data_womens = data_womens.replace(0, np.nan)

#### 5.0 datafrmaes

In [17]:
mens_final = pd.DataFrame(columns=['班级', '性别', 
                                   '男1000米跑', '男1000米跑分数', 
                                   '男50米跑', '男50米跑分数', 
                                   '男跳远', '男跳远分数', 
                                   '男体前屈', '男体前屈分数', 
                                   '男引体', '男引体分数', 
                                   '男肺活量', '男肺活量分数', 
                                   '身高', '体重', 'BMI'])

womens_final = pd.DataFrame(columns=['班级', '性别', 
                                   '女800米跑', '女800米跑分数', 
                                   '女50米跑', '女50米跑分数', 
                                   '女跳远', '女跳远分数', 
                                   '女体前屈', '女体前屈分数', 
                                   '女仰卧', '女仰卧分数', 
                                   '女肺活量', '女肺活量分数', 
                                   '身高', '体重', 'BMI'])

#### 5.1 男班级性别

In [18]:
mens_final['班级'] = data_mens['班级']
mens_final['性别'] = data_mens['性别']

#### 5.2 男1000米

In [19]:
mens_final['男1000米跑'] = data_mens['男1000米跑']

In [34]:
def marking_rule_mens_1000(actual_score):
    criteria_target = criteria[('男1000米跑', '成绩')]
    criterial_score = criteria[('男1000米跑', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  <= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [35]:
mens_final['男1000米跑分数'] = data_mens['男1000米跑'].apply(marking_rule_mens_1000)

In [36]:
mens_final['男1000米跑分数']

0       72.0
1       70.0
2       74.0
3       68.0
4       85.0
       ...
472     68.0
473     40.0
474    100.0
475     62.0
476      0.0
Name: 男1000米跑分数, Length: 477, dtype: float64

#### 5.3 男50米跑

In [24]:
mens_final['男50米跑'] = data_mens['男50米跑']

In [31]:
def marking_rule_mens_50(actual_score):
    criteria_target = criteria[('男50米跑', '成绩')]
    criterial_score = criteria[('男50米跑', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  <= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [32]:
mens_final['男50米跑分数'] = data_mens['男50米跑'].apply(marking_rule_mens_50)

In [33]:
mens_final['男50米跑分数']

0      66.0
1      78.0
2      70.0
3      74.0
4      78.0
       ...
472    72.0
473    50.0
474    80.0
475    76.0
476     0.0
Name: 男50米跑分数, Length: 477, dtype: float64

#### 5.4 男跳远

In [43]:
mens_final['男跳远'] = data_mens['男跳远']

In [44]:
def marking_rule_mens_ty(actual_score):
    criteria_target = criteria[('男跳远', '成绩')]
    criterial_score = criteria[('男跳远', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  >= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [45]:
mens_final['男跳远分数'] = data_mens['男跳远'].apply(marking_rule_mens_ty)

In [46]:
mens_final['男跳远分数']

0      60.0
1      74.0
2      70.0
3      64.0
4      66.0
       ...
472    66.0
473    66.0
474    90.0
475    66.0
476     0.0
Name: 男跳远分数, Length: 477, dtype: float64

#### 5.5 男体前屈

In [47]:
mens_final['男体前屈'] = data_mens['男体前屈']

In [48]:
def marking_rule_mens_tqq(actual_score):
    criteria_target = criteria[('男体前屈', '成绩')]
    criterial_score = criteria[('男体前屈', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  >= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [49]:
mens_final['男体前屈分数'] = data_mens['男体前屈'].apply(marking_rule_mens_tqq)

In [50]:
mens_final['男体前屈分数']

0      74.0
1      74.0
2      78.0
3      76.0
4      76.0
       ...
472    72.0
473    80.0
474    76.0
475    78.0
476     0.0
Name: 男体前屈分数, Length: 477, dtype: float64

#### 5.6 男引体

In [53]:
mens_final['男引体'] = data_mens['男引体']

In [56]:
def marking_rule_mens_yt(actual_score):
    criteria_target = criteria[('男引体', '成绩')]
    criterial_score = criteria[('男引体', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  >= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [57]:
mens_final['男引体分数'] = data_mens['男引体'].apply(marking_rule_mens_yt)

In [58]:
mens_final['男引体分数']

0       0.0
1      60.0
2       0.0
3       0.0
4      68.0
       ...
472     0.0
473    50.0
474    85.0
475    76.0
476     0.0
Name: 男引体分数, Length: 477, dtype: float64

#### 5.7 男肺活量

In [60]:
mens_final['男肺活量'] = data_mens['男肺活量']

In [61]:
def marking_rule_mens_fhl(actual_score):
    criteria_target = criteria[('男肺活量', '成绩')]
    criterial_score = criteria[('男肺活量', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score >= criteria_target[i]:
                marked_score = criterial_score[i]
                break

    return marked_score

In [62]:
mens_final['男肺活量分数'] = data_mens['男肺活量'].apply(marking_rule_mens_fhl)

In [63]:
mens_final['男肺活量分数']

0       62.0
1       68.0
2       80.0
3      100.0
4       74.0
       ...
472    100.0
473    100.0
474    100.0
475    100.0
476      0.0
Name: 男肺活量分数, Length: 477, dtype: float64

#### 5.8 男身高体重bmi

In [72]:
mens_final['身高'] = data_mens['身高']
mens_final['体重'] = data_mens['体重']
mens_final['BMI'] = np.round(data_mens['体重'] / np.power(data_mens['身高']/100, 2), 2)
mens_final['BMI'] = mens_final['BMI'].replace(np.nan, 0)

In [73]:
mens_final

,班级,性别,男1000米跑,男1000米跑分数,男50米跑,男50米跑分数,男跳远,男跳远分数,男体前屈,男体前屈分数,男引体,男引体分数,男肺活量,男肺活量分数,身高,体重,BMI
0,1,男,4.22,72.0,8.88,66.0,195.0,60.0,12.0,74.0,1.0,0.0,2785.0,62.0,170.0,72.6,25.12
1,1,男,4.27,70.0,7.70,78.0,225.0,74.0,11.0,74.0,7.0,60.0,3133.0,68.0,174.0,52.7,17.41
2,1,男,4.15,74.0,8.45,70.0,218.0,70.0,14.0,78.0,1.0,0.0,3901.0,80.0,169.0,46.5,16.28
3,1,男,4.35,68.0,8.05,74.0,206.0,64.0,13.0,76.0,1.0,0.0,4946.0,100.0,183.0,79.7,23.80
4,1,男,3.73,85.0,7.52,78.0,210.0,66.0,13.0,76.0,9.0,68.0,3538.0,74.0,171.0,54.7,18.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,17,男,4.38,68.0,8.27,72.0,208.0,66.0,10.0,72.0,0.0,0.0,4647.0,100.0,176.0,69.5,22.44
473,17,男,5.32,40.0,9.55,50.0,210.0,66.0,15.0,80.0,6.0,50.0,7042.0,100.0,177.0,76.0,24.26
474,17,男,3.42,100.0,7.50,80.0,252.0,90.0,13.0,76.0,13.0,85.0,5755.0,100.0,181.0,65.0,19.84
475,17,男,4.65,62.0,7.81,76.0,208.0,66.0,14.0,78.0,11.0,76.0,5688.0,100.0,172.0,51.7,17.48
476,17,男,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

#### 5.9 女班级性别

In [76]:
womens_final['班级'] = data_womens['班级']
womens_final['性别'] = data_womens['性别']

#### 5.10 女800米跑

In [78]:
womens_final['女800米跑'] = data_womens['女800米跑']

In [79]:
def marking_rule_womens_800(actual_score):
    criteria_target = criteria[('女800米跑', '成绩')]
    criterial_score = criteria[('女800米跑', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  <= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [80]:
womens_final['女800米跑分数'] = data_womens['女800米跑'].apply(marking_rule_womens_800)

In [81]:
womens_final['女800米跑分数']

0      100.0
1       60.0
2       95.0
3      100.0
4       95.0
       ...
588     90.0
589     76.0
590     95.0
591     74.0
592     64.0
Name: 女800米跑分数, Length: 593, dtype: float64

In [82]:
womens_final['女800米跑']

0      3.22
1      4.59
2      3.46
3      3.39
4      3.43
       ...
588    3.51
589    4.00
590    3.45
591    4.01
592    4.48
Name: 女800米跑, Length: 593, dtype: float64

#### 5.11 女50米跑

In [83]:
womens_final['女50米跑'] = data_womens['女50米跑']

In [84]:
def marking_rule_womens_50(actual_score):
    criteria_target = criteria[('女50米跑', '成绩')]
    criterial_score = criteria[('女50米跑', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  <= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [85]:
womens_final['女50米跑分数'] = data_womens['女50米跑'].apply(marking_rule_womens_50)

In [86]:
womens_final['女50米跑分数']

0      72.0
1      10.0
2       0.0
3      70.0
4      68.0
       ...
588    70.0
589    64.0
590    64.0
591    68.0
592    74.0
Name: 女50米跑分数, Length: 593, dtype: float64

#### 5.12 女跳远

In [87]:
womens_final['女跳远'] = data_womens['女跳远']

In [88]:
def marking_rule_womens_ty(actual_score):
    criteria_target = criteria[('女跳远', '成绩')]
    criterial_score = criteria[('女跳远', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  >= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [89]:
womens_final['女跳远分数'] = data_womens['女跳远'].apply(marking_rule_womens_ty)

In [90]:
womens_final['女跳远分数']

0      85.0
1      60.0
2      60.0
3      76.0
4      50.0
       ...
588    60.0
589    60.0
590    62.0
591    70.0
592    80.0
Name: 女跳远分数, Length: 593, dtype: float64

#### 5.13 女体前屈

In [91]:
womens_final['女体前屈'] = data_womens['女体前屈']

In [92]:
def marking_rule_womens_tqq(actual_score):
    criteria_target = criteria[('女体前屈', '成绩')]
    criterial_score = criteria[('女体前屈', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  >= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [93]:
womens_final['女体前屈分数'] = data_womens['女体前屈'].apply(marking_rule_womens_tqq)

In [94]:
womens_final['女体前屈分数']

0      76.0
1      66.0
2      64.0
3      90.0
4      64.0
       ...
588    95.0
589    72.0
590    76.0
591    68.0
592    68.0
Name: 女体前屈分数, Length: 593, dtype: float64

#### 5.14 女仰卧

In [95]:
womens_final['女仰卧'] = data_womens['女仰卧']

In [96]:
def marking_rule_womens_yw(actual_score):
    criteria_target = criteria[('女仰卧', '成绩')]
    criterial_score = criteria[('女仰卧', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score  >= criteria_target[i]:
                marked_score = criterial_score[i]
                break
    
    return marked_score

In [99]:
womens_final['女仰卧分数'] = data_womens['女仰卧'].apply(marking_rule_womens_yw)

In [100]:
womens_final['女仰卧分数']

0      85.0
1      66.0
2      76.0
3      85.0
4      70.0
       ...
588    78.0
589    72.0
590    72.0
591    78.0
592    85.0
Name: 女仰卧分数, Length: 593, dtype: float64

#### 5.15 女肺活量

In [101]:
womens_final['女肺活量'] = data_womens['女肺活量']

In [102]:
def marking_rule_womens_fhl(actual_score):
    criteria_target = criteria[('女肺活量', '成绩')]
    criterial_score = criteria[('女肺活量', '分数')]
    marked_score = 0
    if actual_score == 0:
        marked_score = 0
    else:
        for i in range(criteria_target.shape[0]):
            if actual_score >= criteria_target[i]:
                marked_score = criterial_score[i]
                break

    return marked_score

In [103]:
womens_final['女肺活量分数'] = data_womens['女肺活量'].apply(marking_rule_womens_fhl)

In [104]:
womens_final['女肺活量分数']

0      100.0
1      100.0
2      100.0
3      100.0
4      100.0
       ...
588     70.0
589     85.0
590     76.0
591     60.0
592     85.0
Name: 女肺活量分数, Length: 593, dtype: float64

#### 5.16 女身高体重bmi

In [106]:
womens_final['身高'] = data_womens['身高']
womens_final['体重'] = data_womens['体重']
womens_final['BMI'] = np.round(data_womens['体重'] / np.power(data_womens['身高']/100, 2), 2)
womens_final['BMI'] = womens_final['BMI'].replace(np.nan, 0)

In [108]:
womens_final

,班级,性别,女800米跑,女800米跑分数,女50米跑,女50米跑分数,女跳远,女跳远分数,女体前屈,女体前屈分数,女仰卧,女仰卧分数,女肺活量,女肺活量分数,身高,体重,BMI
0,1,女,3.22,100.0,9.32,72.0,185.0,85.0,16.0,76.0,48.0,85.0,3775.0,100.0,163.0,51.3,19.31
1,1,女,4.59,60.0,11.44,10.0,148.0,60.0,9.0,66.0,29.0,66.0,3683.0,100.0,163.0,66.6,25.07
2,1,女,3.46,95.0,13.40,0.0,150.0,60.0,7.0,64.0,40.0,76.0,3331.0,100.0,157.0,60.0,24.34
3,1,女,3.39,100.0,9.52,70.0,172.0,76.0,21.0,90.0,46.0,85.0,3701.0,100.0,160.0,50.7,19.80
4,1,女,3.43,95.0,9.79,68.0,145.0,50.0,8.0,64.0,34.0,70.0,3592.0,100.0,167.0,63.9,22.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,17,女,3.51,90.0,9.60,70.0,150.0,60.0,24.0,95.0,41.0,78.0,2255.0,70.0,158.0,49.0,19.63
589,17,女,4.00,76.0,10.18,64.0,150.0,60.0,13.0,72.0,36.0,72.0,2937.0,85.0,161.0,55.7,21.49
590,17,女,3.45,95.0,10.18,64.0,152.0,62.0,15.0,76.0,35.0,72.0,2592.0,76.0,165.0,48.6,17.85
591,17,女,4.01,74.0,9.67,68.0,165.0,70.0,10.0,68.0,41.0,78.0,1829.0,60.0,154.0,43.6,18.38
592,17,女,4.48,64.0,9.09,74.0,180.0,80.0,10.0,68.0,46.0,85.0,2962.0,85.0,162.0,55.3,21.07

#### 5.17 最终结果

In [109]:
mens_final

,班级,性别,男1000米跑,男1000米跑分数,男50米跑,男50米跑分数,男跳远,男跳远分数,男体前屈,男体前屈分数,男引体,男引体分数,男肺活量,男肺活量分数,身高,体重,BMI
0,1,男,4.22,72.0,8.88,66.0,195.0,60.0,12.0,74.0,1.0,0.0,2785.0,62.0,170.0,72.6,25.12
1,1,男,4.27,70.0,7.70,78.0,225.0,74.0,11.0,74.0,7.0,60.0,3133.0,68.0,174.0,52.7,17.41
2,1,男,4.15,74.0,8.45,70.0,218.0,70.0,14.0,78.0,1.0,0.0,3901.0,80.0,169.0,46.5,16.28
3,1,男,4.35,68.0,8.05,74.0,206.0,64.0,13.0,76.0,1.0,0.0,4946.0,100.0,183.0,79.7,23.80
4,1,男,3.73,85.0,7.52,78.0,210.0,66.0,13.0,76.0,9.0,68.0,3538.0,74.0,171.0,54.7,18.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,17,男,4.38,68.0,8.27,72.0,208.0,66.0,10.0,72.0,0.0,0.0,4647.0,100.0,176.0,69.5,22.44
473,17,男,5.32,40.0,9.55,50.0,210.0,66.0,15.0,80.0,6.0,50.0,7042.0,100.0,177.0,76.0,24.26
474,17,男,3.42,100.0,7.50,80.0,252.0,90.0,13.0,76.0,13.0,85.0,5755.0,100.0,181.0,65.0,19.84
475,17,男,4.65,62.0,7.81,76.0,208.0,66.0,14.0,78.0,11.0,76.0,5688.0,100.0,172.0,51.7,17.48
476,17,男,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [111]:
womens_final

,班级,性别,女800米跑,女800米跑分数,女50米跑,女50米跑分数,女跳远,女跳远分数,女体前屈,女体前屈分数,女仰卧,女仰卧分数,女肺活量,女肺活量分数,身高,体重,BMI
0,1,女,3.22,100.0,9.32,72.0,185.0,85.0,16.0,76.0,48.0,85.0,3775.0,100.0,163.0,51.3,19.31
1,1,女,4.59,60.0,11.44,10.0,148.0,60.0,9.0,66.0,29.0,66.0,3683.0,100.0,163.0,66.6,25.07
2,1,女,3.46,95.0,13.40,0.0,150.0,60.0,7.0,64.0,40.0,76.0,3331.0,100.0,157.0,60.0,24.34
3,1,女,3.39,100.0,9.52,70.0,172.0,76.0,21.0,90.0,46.0,85.0,3701.0,100.0,160.0,50.7,19.80
4,1,女,3.43,95.0,9.79,68.0,145.0,50.0,8.0,64.0,34.0,70.0,3592.0,100.0,167.0,63.9,22.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,17,女,3.51,90.0,9.60,70.0,150.0,60.0,24.0,95.0,41.0,78.0,2255.0,70.0,158.0,49.0,19.63
589,17,女,4.00,76.0,10.18,64.0,150.0,60.0,13.0,72.0,36.0,72.0,2937.0,85.0,161.0,55.7,21.49
590,17,女,3.45,95.0,10.18,64.0,152.0,62.0,15.0,76.0,35.0,72.0,2592.0,76.0,165.0,48.6,17.85
591,17,女,4.01,74.0,9.67,68.0,165.0,70.0,10.0,68.0,41.0,78.0,1829.0,60.0,154.0,43.6,18.38
592,17,女,4.48,64.0,9.09,74.0,180.0,80.0,10.0,68.0,46.0,85.0,2962.0,85.0,162.0,55.3,21.07